@charset "utf-8";
/*------------------------------*/
.subunit-boundary {
	fill: none;
	stroke: #fff;
	stroke-dasharray: 5, 0;
	stroke-linejoin: round;
}

.d_diagram {
	width: 1000px;
	overflow: auto;
}

.citySvg {
	z-index: 110;
	width: 800px;
	height: 560px;
	display: inline-block;
	border: 2px;
	border-color: #445E9C;
	border-style: outset;
}

.cityTooltip {
	position: absolute;
	display: inline-block;
	vertical-align: top;
	margin: 30px;
	z-index: 99;
	height: auto;
	width: auto;
	font-size: 16pt;
	font-weight: bold;
	-webkit-transition: all .1s;
	border-radius: 8px;
	color: #222222;
	background-color: #F08030;
	padding: 10px;
}

.cityTips {
	position: absolute;
	z-index: 110;
	height: 30px;
	width: 100px;
	background-color: #ff80ff;
	-webkit-transition: all .1s;
	border-radius: 5px;
	color: #fff;
	padding: 2px;
}

.cityPath {
	stroke: #333333;
	stroke-width: 0.3px;
}

.cityDescCircle {
	fill: #7A993C;
}

.cityDescLine {
	stroke: #222222;
}

.cityDescRect {
	stroke: #F08030;
	stroke-width: 0.3px;
	fill: #009faa;
}

.cityDescText {
	font-family: Microsoft JhengHei;
	font-size: 16px;
	font-weight: bold;
	fill: #111111;
}

.svgback {
	background-color: #ffffff;
}