<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- DB jdbc.properties & 系統參數-->
	<bean class="gov.nia.nrs.system.jdbc.PropertyConfigurer">
		<property name="locations">
			<list>
				<value>classpath:env.properties</value>
			</list>
		</property>
	</bean>

	<import resource="applicationContext-cxf.xml" />
	<context:component-scan base-package="gov.nia.nrs" />


	<bean id="loadProperties" class="gov.nia.nrs.utils.LoadProperties">
	</bean>

</beans>
