<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:jaxrs-client="http://cxf.apache.org/jaxrs-client"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://cxf.apache.org/jaxws
		http://cxf.apache.org/schemas/jaxws.xsd
		http://cxf.apache.org/jaxrs-client
		http://cxf.apache.org/schemas/jaxrs-client.xsd">

	<bean id="jsonProvider" class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider" />

	<jaxrs-client:client id="loginWebService" address="${webservice.url}"
		serviceClass="gov.nia.nrs.login.ws.LoginWebService">
		<jaxrs-client:providers>
			<ref bean="jsonProvider" />
		</jaxrs-client:providers>
	</jaxrs-client:client>

     <!-- 機關代碼維護 -->
	<jaxrs-client:client id="deptWebService" address="${webservice.url}/rs"
		serviceClass="gov.nia.nrs.dept.ws.DeptWebService">
		<jaxrs-client:providers>
			<ref bean="jsonProvider" />
		</jaxrs-client:providers>
	</jaxrs-client:client>

	<!-- 多維度查詢 -->
	<jaxrs-client:client id="multiQueryWebService" address="${webservice.url}/rs"
		serviceClass="gov.nia.nrs.multiquery.ws.MultiQueryWebService">
		<jaxrs-client:providers>
			<ref bean="jsonProvider" />
		</jaxrs-client:providers>
	</jaxrs-client:client>

</beans>